<nav style="text-align: left;">
    <h1>Home</h1>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Sort By</a>
        </li>
        <li class="nav-item dropdown">
            <select class="form-control" name="sort-by" id="sort-by">
                <option value="today">Today</option>
                <option value="week">This Week</option>
                <option value="month">This Month</option>
                <option value="all">All Time</option>
            </select>
        </li>
    </ul>
</nav>
<br />

{{!-- Examples --}}
<div class="block">
    {{!-- User's profile picture --}}
    <img src="/public/imgs/google.png" alt="img" class="mr-3 mt-3 rounded-circle">
    {{!-- User's name --}}
    <h2>Big Google 
        <a href="#" class="username">@TheRealGoogle</a>
    </h2>
    {{!-- User's post --}}
    <p>Lcing elilor sit amorem ipsumsit doecteturet, cons adipi.</p>
    {{!-- Created at --}}
    <small><i>Posted on March 06, 2021</i></small>
</div>
{{!-- End --}}
<div class="block">
    <img src="/public/imgs/facebook.png" alt="img" class="mr-3 mt-3 rounded-circle">
    <h2>The Face Book
        <a href="#" class="username">@fffacebook</a>
    </h2>
    <p>Lr sit amorem ipsum doloet, con adipissecteturicing elit.</p>
    <small><i>Posted on March 06, 2021</i></small>
</div>
<div class="block">
    <img src="/public/imgs/coding.png" alt="img" class="mr-3 mt-3 rounded-circle">
    <h2>Username
        <a href="#" class="username">@username</a>
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <small><i>Posted on March 06, 2021</i></small>
</div>






{{!--vv DELETE THIS vv--}}
{{!-- Examples --}}
<div class="block">
    {{!-- User's profile picture --}}
    <img src="/public/imgs/google.png" alt="img" class="mr-3 mt-3 rounded-circle">
    {{!-- User's name --}}
    <h2>Big Google 
        <a href="#" class="username">@TheRealGoogle</a>
    </h2>
    {{!-- User's post --}}
    <p>Lcing elilor sit amorem ipsumsit doecteturet, cons adipi.</p>
    {{!-- Created at --}}
    <small><i>Posted on March 06, 2021</i></small>
</div>
{{!-- End --}}
<div class="block">
    <img src="/public/imgs/facebook.png" alt="img" class="mr-3 mt-3 rounded-circle">
    <h2>The Face Book
        <a href="#" class="username">@fffacebook</a>
    </h2>
    <p>Lr sit amorem ipsum doloet, con adipissecteturicing elit.</p>
    <small><i>Posted on March 06, 2021</i></small>
</div>
<div class="block">
    <img src="/public/imgs/coding.png" alt="img" class="mr-3 mt-3 rounded-circle">
    <h2>Username
        <a href="#" class="username">@username</a>
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <small><i>Posted on March 06, 2021</i></small>
</div>
{{!-- Examples --}}
<div class="block">
    {{!-- User's profile picture --}}
    <img src="/public/imgs/google.png" alt="img" class="mr-3 mt-3 rounded-circle">
    {{!-- User's name --}}
    <h2>Big Google 
        <a href="#" class="username">@TheRealGoogle</a>
    </h2>
    {{!-- User's post --}}
    <p>Lcing elilor sit amorem ipsumsit doecteturet, cons adipi.</p>
    {{!-- Created at --}}
    <small><i>Posted on March 06, 2021</i></small>
</div>
{{!-- End --}}
<div class="block">
    <img src="/public/imgs/facebook.png" alt="img" class="mr-3 mt-3 rounded-circle">
    <h2>The Face Book
        <a href="#" class="username">@fffacebook</a>
    </h2>
    <p>Lr sit amorem ipsum doloet, con adipissecteturicing elit.</p>
    <small><i>Posted on March 06, 2021</i></small>
</div>
<div class="block">
    <img src="/public/imgs/coding.png" alt="img" class="mr-3 mt-3 rounded-circle">
    <h2>Username
        <a href="#" class="username">@username</a>
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <small><i>Posted on March 06, 2021</i></small>
</div>