<nav style="text-align: left;">
    <h1>Post
        <i class="fas fa-cloud-upload-alt"></i>
    </h1>
</nav>
<br />

<form action="/api/auth/post" method="POST" style="text-align: left;">
    <div type="text" id="userid" name="userID">{{userData.userID}}</div>
    <div id="textarea" contentEditable="true" class="bg-transparent" name="content" max="400">This is test</div>
    <small>Maximum 400 characters!</small> <br />
    <button type="button" class="btn btn-outline-primary">
        <i class="fas fa-images"></i>
    </button>
    <button type="button" class="btn btn-outline-primary boldText" value="Bold">
        <i class="fas fa-bold"></i>
    </button>
    <button type="button" class="btn btn-outline-primary italicText" value="Italic">
        <i class="fas fa-italic"></i>
    </button>
    <button type="button" class="btn btn-outline-primary underlineText" value="Underline">
        <i class="fas fa-underline"></i>
    </button>
    <button type="submit" class="btn btn-outline-success" id="submit-post">
        <i class="fas fa-check-double"></i> POST
    </button>
    {{#if feedbackPost}}
                <h6 class="alert alert-success mt-4">{{feedbackPost}}</h6>
                {{/if}}
</form>