<div style="text-align: start">

    <h1>Your Profile</h1>
    <br />
    {{!-- User's profile picture --}}
    <img src="/public/imgs/google.png" alt="img" class="rounded-circle profile-picture">
    <nav class="nav justify-content-end">
        <button class="btn btn-outline-primary">
            Edit Profile
        </button>
    </nav>
    <h2>Big Google <a href="#" class="username">@TheRealGoogle</a> </h2>

    {{!-- Needs bio and country email phone number info --}}
</div>

<h3>Your Posts</h3>
{{!-- Examples --}}
<div class="block">
    {{!-- User's profile picture --}}
    <img src="/public/imgs/google.png" alt="img" class="mr-3 mt-3 rounded-circle">
    {{!-- User's name --}}
    <h2>Big Google
        <a href="#" class="username">@TheRealGoogle</a>
    </h2>
    {{!-- User's post --}}
    <p>Lcing elilor sit amorem ipsumsit doecteturet, cons adipi.</p>
    {{!-- Created at --}}
    <small><i>Posted on March 06, 2021</i></small>
</div>

<div class="block">
    <img src="/public/imgs/google.png" alt="img" class="mr-3 mt-3 rounded-circle">
    <h2>Big Google
        <a href="#" class="username">@TheRealGoogle</a>
    </h2>
    <p>Lcing elilor sit amoremrwgwr ipsumsit doecteturet, cons adipi.</p>
    <small><i>Posted on March 06, 2021</i></small>
</div>
<div class="block">
    <img src="/public/imgs/google.png" alt="img" class="mr-3 mt-3 rounded-circle">
    <h2>Big Google
        <a href="#" class="username">@TheRealGoogle</a>
    </h2>
    <p>Lcing elilor sit amoremrw ipsumsit doectwrheturet, wrhcons adipi.</p>
    <small><i>Posted on March 06, 2021</i></small>
</div>
<div class="block">
    <img src="/public/imgs/google.png" alt="img" class="mr-3 mt-3 rounded-circle">
    <h2>Big Google
        <a href="#" class="username">@TheRealGoogle</a>
    </h2>
    <p>Lcing elqfeilor sit amorem ipqegsumsit doecteturqeget, coqegns adqegipqegqegi.</p>
    <small><i>Posted on March 06, 2021</i></small>
</div>