<div class="container">
    <nav class="navbar">
        <span id="open-nav" style="font-size:30px;cursor:pointer">
            &#9776;
        </span>
        <h1 class="title">CodWeb</h1>
        {{!-- Ghost navbar elements --}}
        <form class="form-inline"></form>
        <form class="form-inline"></form>
    </nav>
    <div class="row">
        <div id="mySidenav" class="sidenav">
            <h5 style="text-align: center; color: white">Signed in as </h5>
            <h4 style="text-align: center; color: white; font-weight: 900" id="username">{{userData.lastName}} {{userData.firstname}}</h4>
            <a class="close-btn">⤆</a>
            <a href="#" id="home-btn">Home</a>
            <a href="#" id="explore-btn">Explore</a>
            <a href="#" id="messages-btn">Messages</a>
            <a href="#" id="post-btn">Post</a>
            <a href="#" id="profile-btn">Profile</a>
            <a href="#" id="settings-btn">Settings</a>
            <a href="#" id="log-out-btn">Log Out</a>
        </div>
        <div class="col-lg-8 col-md-8" style="text-align: center;"> <br />
            <div class="side-navs" id="dashboard">{{> home }}</div>
            <div class="side-navs" id="explore">{{> explore }}</div>
            <div class="side-navs" id="messages">{{> messages }}</div>
            <div class="side-navs" id="post">{{> post }}</div>
            <div class="side-navs" id="profile">{{> profile }}</div>
            <div class="side-navs" id="settings">{{> settings }}</div>
        </div>
        <div class="col-lg-4 col-md-4" style="text-align: center;"> <br />
            <img id="coding-image" src="/public/imgs/coding.png"> <br /> <br />
            <span id="apiquotes"></span>
        </div>
    </div>
</div>
<script> document.title = "CodWeb" </script>