html, body {
    height: 100%;
    background: linear-gradient(to bottom right, darkgray, lightgray);
}
.title {
    font-size: 72px;
    font-weight: 900;
}
#coding-image {
    width: 75%;
}
#facebook {
    background-image: url("/public/imgs/facebook.png");
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-top: 5px;
    background-position: center;
    display: inline-block;
}
#google {
    background-image: url("/public/imgs/google.png");
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-top: 5px;
    background-position: center;
    display: inline-block;
}
.btn-outline-info {
    width: 80%;
    text-align: center;
    margin-left: 10%;
}
