html, body {
    height: 100%;
    background-color: rgb(243, 240, 240);
}
.title {
    font-size: 72px;
    font-weight: 900;
}
@media only screen and (max-width: 767px) {
    .title {
        font-size: 15vw;
        font-weight: 900;
    }
    #search-form {
        margin-left: 25%;
    }
}
#coding-image {
    width: 75%;
}
#facebook {
    background-image: url("/public/imgs/facebook.png");
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-top: 5px;
    background-position: center;
    display: inline-block;
}
#google {
    background-image: url("/public/imgs/google.png");
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-top: 5px;
    background-position: center;
    display: inline-block;
}
.btn-outline-info {
    width: 80%;
    text-align: center;
    margin-left: 10%;
}
.container {
    margin-top: 25px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    opacity: 0.7;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.block {
    overflow: hidden;
    padding: 1rem;
    max-width: 100%;
    margin: 0 0 1rem 0;
    text-align: left;
    border-style: solid;
    border-width: medium;
    border-radius: 5px;
  }
  .block img {
    width: 75px;
    height: 75px;
    float: left;
    margin: 0 1rem 0 0;
  }
  .block h2 {
    font-weight: 500;
    margin: 0 0 0.5rem 0;
  }
  .close-btn {
    cursor: pointer;
    font-size: 72px;
  }
  .username {
      font-size: large;
  }
  code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
.profile-picture {
    width: 75px;
    height: 75px;
    margin: 0 1rem 0 0;
}
#textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.bold {
    font-weight: bold;
  }
.italic {
    font-style: italic;
  }
.underline {
   text-decoration: underline;
  }